<footer>
    <div class="footer">
      <ul class="list-inline social-buttons">
        <span><a href="https://github.com/jnewman12/hipstagram" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
      </ul>  
    </div>
</footer>